@font-face {
  font-family: 'Bungee';
  src: url('~@/assets/fonts/Bungee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee Hairline';
  src: url('~@/assets/fonts/BungeeHairline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
