.height-hidden {
  max-height: 0em;
  overflow: hidden;
  display: flex;
}

.mobile-hidden {
  @include sm {
    display: initial;
  }
}

.nav-closed {
  display: none;
}

html, body {
  font-family: $font-main;
}

h1 {
  font-size: 64px;
}

.lh {
  &--btn {
    &--plus {
      background: url(~@/assets/imgs/plus.svg) center center no-repeat;
      height: 35px;
      width: 35px;
      border: none;
    }
  }
}