.height-hidden {
  max-height: 0em;
  overflow: hidden;
  display: flex;
}

.mobile-hidden {
  @include sm {
    display: initial;
  }
}

.nav-closed {
  display: none;
}

html, body {
  font-family: $font-main;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
}

a {
  color: $color-black;
  &:visited {
    color: $color-black;
  }
}

.lh {
  &--btn {
    &--plus {
      background: url(~@/assets/imgs/plus.svg) center center no-repeat;
      height: 35px;
      width: 35px;
      border: none;
    }
  }
  &--input {
    &--text {
      font-family: $font-main;
      color: $color-black;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      margin: 1rem;
      background: transparent;

      label {
        font-size: 12px;
        color: $color-label;
      }

      input {
        border: none;
        border-bottom: 2px solid $color-black;
        font-family: $font-main;
        color: $color-black;
        background: none;
      }

    }
    &--select {
      font-family: $font-main;
      color: $color-black;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      margin: 1rem;
      position: relative;
      background: transparent;

      &:after {
        content: "";
        background: url(~@/assets/imgs/chevron.svg) center center no-repeat;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 0;

      }
      

      label {
        font-size: 12px;
        color: $color-label;
      }

      input {
        border: none;
        border-bottom: 2px solid $color-black;
        font-family: $font-main;
        color: $color-black;
        background: none;
      }

    }
  }
  &--button {
    background: none;
    border: 2px solid $color-black;
    color: $color-black;
    font-family: $font-main;
    padding: .5rem 2rem;
    margin: 1rem;
  }
  &--alert {
    padding: 2rem;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: -8px 8px 1px $color-black;
    margin: 1rem;
    &--warning {
      background-color: $color-red;
      color: $color-white;
    }
  }
}

.text {
  &-green {
    color: $color-green;
  }
  &-yellow  {
    color: $color-yellow;
  }
  &-red {
    color: $color-red;
  }
}

.lh-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
