@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./media";
@import "./global";

#app {
  width: 100vw;
}

main {
  box-sizing: border-box;
  margin-top: 100px;
  left: 0;
  width: 100%;
  max-width: 960px;
  margin: 100px auto;
  min-height: calc(100vh - 200px);
}

body {
  margin: 0;
  display: flex;
  max-width: 100%;
}
